<div class="hero text-white text-center mb-5" style="background-image: url('https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center; height: 500px; display: flex; align-items: center; justify-content: center;">
  <h1 class="display-4 fw-bold text-white text-shadow">Your Movie Lists</h1>
</div>

<div class="container text-center">

  <div class="row justify-content-center">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm position-relative">
          <%= link_to list_path(list), class: "text-decoration-none text-dark d-block" do %>
            <% if list.bookmarks.any? && list.bookmarks.first.movie.poster_url.present? %>
              <%= image_tag list.bookmarks.first.movie.poster_url, alt: list.name, class: "card-img-top w-100", style: "height: 350px; object-fit: cover; object-position: top;" %>
            <% else %>
              <%= image_tag "https://via.placeholder.com/400x350?text=No+Image", class: "card-img-top w-100", style: "height: 350px; object-fit: cover; object-position: top;" %>
            <% end %>
            <div class="card-body text-center">
              <h5 class="card-title text-dark fw-bold"><%= list.name %></h5>
            </div>
          <% end %>

          <%= link_to list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "position-absolute bottom-0 end-0 m-2 text-danger fs-4" do %>
            <i class="bi bi-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary mt-4 w-50" %>
</div>
